*{box-sizing: border-box;}

html,body{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100%;
  color: #5f5f5f;
  overflow-x: hidden;
}


/*header部分*/

.navbar {
  background-color: rgba(0, 0, 0, 0.9);
  border-width: 0;
  margin: 0;
}

.navbar-header .navbar-brand {
  height: 61px;
  /*margin-right: 15px;*/
  padding: 3px;
}
.navbar-brand .header-logo {
  height: 55px;
  padding: 7.5px;
}


#nav-content .header-text {
  font-size: 1.05em;
  font-weight: lighter;
  color: #fff;
}
#nav-content .header-text:hover {
  color: #88FFFF;
}

#nav-content li {
  margin: 0;
}

@media screen and (max-width : 767px) {

  #nav-content {
    border-top: 1px solid #FFF;
    padding-left: 15px;
    padding-right: 15px;
  }
  #nav-content .navbar-right {
    margin-top: 0;
    margin-bottom: 0;
    height: 328px;
  }

  #nav-content li {
    height: 41px;
  }
  #nav-content .header-text {
    padding: 10px 15px;
    border-bottom: 1px solid #FFF;
  }

}

@media screen and (min-width : 1024px) {
  #nav-content {
    max-width: 1140px;
    padding: 0;
    margin: 0;
  }
  #nav-content .header-text {
    padding: 20px 15px;
  }
}



#main::before{
	background-color: rgba(0,0,0,0.3);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	content: ' ';
}

#main {
  background: url(../img/bg_top.jpg) center no-repeat;
  position: relative;
  background-size: cover;
  /*height: 100%;*/
  /*background-position: 50%;*/
  height: 720px;
  padding: 0;
  margin: 0;
}

#main .main-container {
  position: absolute;
  /*top: 50px;  */
  display: table;
  height: 100%;
  width: 100%;
}

#main .main-elements {
  display: table-cell;
  text-align: center;
  vertical-align: middle;

  color: #FFF;
}

#main .main-leadcopy {
  font-size: 240%;
  font-weight: lighter;
  
}
#main .main-subcopy {
  font-size: 80%;
  padding: 30px 0 40px 0;
}


#main .btn {
  width: 440px;
  font-size: 90%;
  background-color: #5bc0de;
  border-color: #46b8da;
}

#main .btn:hover {
  background-color: #31b0d5;
  border-color: #269abc;
}

@media screen and (max-width : 767px) {
  #main .main-leadcopy {
    font-size: 120%;
    font-weight: lighter;
    
  }
  #main .main-subcopy {
    font-size: 90%;
    padding: 20px 0 40px 0;
  }
  
  #main .btn {
    width: 90%;
  }
  #main {
    height: 600px;
  }

}


#about {
  background: url(../img/bg_whats.jpg) center no-repeat;
  background-size: cover;
  height: 720px;
  padding: 0 100px;
  margin: 0;
}

#about .about-container {
  height: 100%;
  width: 100%;
  display: table;
}

#about .about-elements-holder {
  display: table-cell;
  vertical-align: middle;
}

#about .about-elements {
  background-color: rgba(255,255,255, .8);
  /*background-clip: content-box;*/
  
  padding: 15px;
}

#about .about-elements .about-elements-col {
  padding-left: 20px;
  padding-right: 30px;
}


#about .about-logo {
  /*text-align: center;*/
  height: 50px;
}
#about .about-what {
  font-size: 180%;
  margin-top: 10px;
  color: #000;
}

#about .about-text {
  font-size: 140%;
  margin-top: 35px;
  margin-bottom: 40px;
  color: #5f5f5f;
}


@media screen and (max-width : 767px) {
  #about {
    padding: 0;
  }
  #about .about-text {
    font-size: 100%;
  }
}
